

.outer-page {
  width: 100vw; 
  height: 100vh; 
  background-color: #011627; 
}

.underlay-graph {
  z-index: 0; 
  width: 100%; 
  height: 100%; 
  position: absolute; 
}

.overlay-information {
  z-index: 10; 
  width: 100%; 
  height: 100%; 
  position: absolute; 

  pointer-events: none; 
}